
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdfdfd;
    color: #111;
}


.container {
    display: flex;
    min-height: 95vh;
    margin-top: 10px;
    margin-left: 20px;
}


.sidebar {
    width: 180px;
    background-color: #f5f5f5;
    border-radius: 50px;
    border: 5px solid#A4A4A4;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}


.sidebar-logo {
    width: 100px;
    height: auto;
    border-radius: 50px;
    border: 3px solid #A4A4A4;
    margin-top: 10px;
    margin-bottom: 20px;
}


.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    width: 100%;
    padding-top: 20px;
}

.nav-item {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 12px 0;
    transition: 0.2s;
}

.nav-item:hover {
    color: #00cc66;
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaf7ff;
    border-radius: 20px;
    padding: 15px 30px;
    margin-bottom: 30px;
    border: 2px solid #b4d6e5;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #111;
}

.logo .highlight {
    color: #00cc66;
}


.slogan {
    font-weight: 600;
    font-size: 16px;
    color: #111;
    text-align: center;
    flex: 1;
    margin: 0 40px;
}


.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}


.avatar-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #aaa;
    object-fit: cover;
}



.user-text span {
    display: block;
    font-size: 14px;
    color: #111;
    text-align: right;
}


.content {
    flex: 1;
}


.flashes {
    list-style: none;
    padding: 10px 20px;
    background-color: #fef3c7;
    color: #92400e;
    border: 1px solid #fcd34d;
    border-radius: 10px;
    margin-bottom: 20px;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}

.homepage-image {
    width: 60%;
    max-width: 600px;
    height: auto;
    margin-bottom: 30px;
    object-fit: contain;
}

.intro-text p {
     font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #555;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}