.student-container {
    background: #f5f5f5;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    height: auto;
    min-height: 685px;
    width: 1034px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
}

.sis {
    display: flex;
    flex-direction: row;
    height: 198px;
    width: 989px;
    margin-top: 41px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 3px solid #E4E4E4


}

.si,
.soi {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 6px;
    display: block;
}

.long-input {
    height:20px;
}

.input-field {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    border: 3px solid #E4E4E4;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.sci {
    display: flex;
    justify-content: center;
    width: 989px;
    height: 302px;
    background: #FFFFFF;
    border-radius: 10px;
   border: 3px solid #E4E4E4;
   margin-top: 20px;
}


.sc{
     flex: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 10px;
}


.long-input .input-field {
    width: 500px;
}


.avatar_img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 155px;
    width: 129px;
    height: 129px;
    margin-left: 30px;
    margin-top: 30px;
}

.avatar_img_male {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 155px;
    width: 129px;
    height: 129px;
    margin-left: 30px;
    margin-top: 50px;
}


.btn {
    padding: 10px;
    font-size: 16px;
    background-color: #b94d99;
    color: #fff;
    border: 3px solid #31313100;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

.flashes {
    list-style: none;
    padding: 10px 20px;
    background-color: #fef3c7;
    color: #92400e;
    border: 1px solid #fcd34d;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tuition-btn {
  background-color: #6e6d6e;
  color: white;
  border: 3px solid #2f2e2e00;
  height: 100px;
  border-radius: 50px;
  padding: 10px 16px;
  font-weight: 500 color #0a0a0a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-right: 50px;
  margin-top: 85px;
}

.tuition-btn:hover {
  background-color: #7068b2;
  text-decoration: none;
  color: white;
}