.student-container {
     background: #f5f5f5;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    height: auto;
    min-height: 685px;
    width: 1034px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
}

.student-list {
    width: 991px;
    max-height: 584px;         
    overflow-y: auto;          
    border: 3px solid #CCC;
    border-radius: 10px;
    padding: 10px;             
    background-color: #fff;    
}

.student_info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 952px;
    height: 30px;
    border: 2px solid #4a4848;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 10px;


}

