

.tuition-list-container {
  max-height: 400px;       
  overflow-y: auto;        
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.tuition-box {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #f9f9f9;
}